{{ if .Processes}}
Pid Ppid Command
{{ range .Processes.ProcessList -}}
{{ .Pid }} {{ .Ppid }} {{ .Cmdline | trunc }}
{{ end -}}
{{ end }}
{{ if .DNS -}}
Metadata Servers IPs: {{ range .DNS.MetadataServerIPs -}} {{ . }} {{ end }}
IPs for en.wikipedia.org : {{ range .DNS.RemoteServerIPs -}} {{ . }} {{ end }}
{{ end }}
